<div class="row text-center">
  <div class="col-xs-12">
    <h3>The Gate</h3>
    <p>You'll need to get the guard to open the gate by writing him a letter.</p>
    <p>This is an exercise in writing emails at work.</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-4 castle-wall castle-top">
  </div>
  <div class="col-xs-4 castle-wall castle-top">
  </div>
  <div class="col-xs-4 castle-wall castle-top">
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-4 castle-wall castle-door">
  </div>
  <div class="col-xs-4 castle-gate castle-door">
  </div>
  <div class="col-xs-4 castle-wall castle-door">
  </div>
</div>
