<div class="row" id="vertically_centered_row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-5 floaty-box text-center hvr-float-shadow">
    <h1>References</h1>
    <%= link_to references_path, class: "big-ref-icon big-icon rgba-secondary-2-2" do %>
      <span class="glyphicon glyphicon-book" style="margin-left:-35px;"></span>
    <% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-5 floaty-box text-center hvr-float-shadow">
    <h1>Challenges</h1>
    <%= link_to challenges_path, class: "big-chal-icon big-icon rgba-complement-2" do %>
      <span class="glyphicon glyphicon-tower" style=""></span>
    <% end %>
  </div>
</div>
