<div class="row text-center">
  <div class="col-xs-12">
    <h1>Welcome <%= current_user.name %></h1>
    <h2>References Page</h2>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-xs-12">
    <p class="lead">Try to checkout all of the following reference pages</p>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <p class="panel-title"><%= link_to "SQL Injection", references_sqli_path %></p>
      </div>
      <div class="panel-body">
        If you have to use string interpolation on a user provided string in your
        custom query, use ActiveRecord::Base::sanitize(input). BE CAREFUL, pay attention
        to the structure of the generated query, you can still get unauthorized reads
        using this method. It isn't the end all be all protection from sql injection.
        (See the <%= link_to "sql injection reference page",
         references_sqli_path(ref_num:0, anchor: "n10") %>
        for the where method for an example)
      </div>
      <div class="panel-footer">
        <%= link_to "http://guides.rubyonrails.org/security.html#sql-injection",
          target: "_blank" do %>
          Documentation <span class="glyphicon glyphicon-book"></span>
        <% end %>
      </div>
  </div>
</div>
