<div class="text-center">
  <h1>Welcome <%= current_user.name %></h1>
  <h2>References Page</h2>
</div>
<p class="lead">Try to checkout all of the following reference pages</p>
<%= link_to "SQL Injection", references_sqli_path %>
