<div class="row">
  <div class="col-xs-4 col-md-offset-4 title">
    <h1>Welcome <%= current_user.name %></h1>
    <h2>SQL Injection Reference Page</h2>
    <hr/>
  </div>
  <div class="col-xs-4 col-md-offset-4">
    <h2>Input Area</h2>
    <div class="horizontal-form">
      <input type="text" id="sqli" />
      <input type="button" class="btn" onclick="submit_sqli()" value="send" />
    </div>
    <hr/>
  </div>
  <div class="col-xs-4 col-md-offset-4">
    <div class="bg-info">
      <p>
        Some information provided by other websites regarding sql injection in rails
        has become outdated. Specifically you can no longer insert ';' or '--' into
        active record method calls and ignore the rest of the activerecord generated
        query syntax.
      </p>
    </div>
    <div class="sql-example">
      <%
        string = <<-CODE
def exec_sqli
  # Safe usage of where method
  # output = Chest.where(size: params[:column])
  # output = Chest.where("size = ?", params[:column])

  # Unsafe use of where method
  output = Chest.where("size = '\#{params[:column]}'")

  # Unsafe use of calculate method
  # output = Chest.calculate(:sum, "#{params[:column]}")

  render text: output.to_a
end
        CODE
      %>
      <%= raw CodeRay.scan(string, :ruby).div(line_numbers: :table) %>

  </div>
    <hr/>
  </div>
  <div class="col-xs-4 col-md-offset-4">
    <h2>Sources and Additional Information</h2>
    <p>Cite sources and display links to additional resources</p>
    <hr/>
  </div>
</div>
