<div class="row">
  <div class="col-xs-12 title">
    <h1>Welcome <%= current_user.name %></h1>
    <h2>Cross Site Scripting Reference Page</h2>
    <hr/>
  </div>
  <div class="col-xs-12 title">
    <p>Show input field for letters</p>
    <p>Allow the user to inject javascript that they will execute on themselves</p>
    <p>Only show letters with matching table prefix</p>
    <p>Provide an action to delete user created letters</p>
  </div>
</div>
