.navbar
{
  margin-bottom:0;
}
.castle-wall
{
  background-color:grey;
  background:url('castle-wall.jpg') -100px 0;
}
.castle-gate
{
  background-color:rgb(92, 36, 36);
}
.castle-door
{
  min-height:350px;
}
.castle-top
{
  min-height:200px;
}
